@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.wxmeyvbhxv {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.txcylvuvfzedt;
}
.wxmeyvbhxv > .qxmekkmudnas {
  font-size: 5.rzamjdfryi;
}
.quwwyoqmocpqfv {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.txcylvuvfzedt;
}
.quwwyoqmocpqfv > .qxmekkmudnas {
  font-size: 3.rzamjdfryi;
}
.opjeyuxxydq {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.kfpuhlcc;
}
.opjeyuxxydq > .qxmekkmudnas {
  font-size: 1.tqgemivhyxd;
}
.xyhydvkh {
  font-family: 'Jost', sans-serif;
  font-size: 2.ooeveexprgsea;
  line-height: 1.kfpuhlcc;
}
.xyhydvkh > .qxmekkmudnas {
  font-size: 2.rzamjdfryi;
}
.ehbsbvkbz {
  font-family: 'Jost', sans-serif;
  font-size: 1.ooeveexprgsea;
  line-height: 1.kfpuhlcc;
}
.ehbsbvkbz > .qxmekkmudnas {
  font-size: 1.nzfkfsgxcwjn;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .wxmeyvbhxv {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .wxmeyvbhxv {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.txcylvuvfzedt * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .quwwyoqmocpqfv {
    font-size: 2.hlusawogzo;
    font-size: calc( 1.7rem + (3 - 1.zkpzvopvedkl) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.yxtjaftskyesl * (1.7rem + (3 - 1.zkpzvopvedkl) * ((100vw - 20rem) / (48 - 20))));
  }
  .opjeyuxxydq {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.txcylvuvfzedt - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.txcylvuvfzedt - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .xyhydvkh {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.bqfbtiwpklaedi - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.bqfbtiwpklaedi - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .ehbsbvkbz {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.bqfbtiwpklaedi - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.bqfbtiwpklaedi - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.pxzwmkhodcyff {
  padding: 0.6rem 1.ooeveexprgsea;
  border-radius: 4px;
}
.utevnciltwr {
  padding: 0.6rem 1.ooeveexprgsea;
  border-radius: 4px;
}
.nklvvxdowto {
  padding: 0.6rem 1.ooeveexprgsea;
  border-radius: 4px;
}
.pwvnuenlij {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.cqwkldihihwj {
  background-color: #qxsfspoduap !important;
}
.oflyvvogszn {
  background-color: #nxbovdyqpukno !important;
}
.uxpkjerxqsiofl {
  background-color: #pwmcbxtflvfzok !important;
}
.yhttfqaqp {
  background-color: #ukuobvhjei !important;
}
.twcctqcm {
  background-color: #hiroiwkzsun !important;
}
.vksljhsef,
.vksljhsef:active {
  background-color: #qxsfspoduap !important;
  border-color: #qxsfspoduap !important;
  color: #bytblydyl !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.vksljhsef:hover,
.vksljhsef:focus,
.vksljhsef.cuxtolru,
.vksljhsef.ygviyaoyjow {
  color: #bytblydyl !important;
  background-color: #xgertnryj !important;
  border-color: #xgertnryj !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.vksljhsef.jofuvtmmcniboi,
.vksljhsef:disabled {
  color: #bytblydyl !important;
  background-color: #xgertnryj !important;
  border-color: #xgertnryj !important;
}
.qqrxgzmhgi,
.qqrxgzmhgi:active {
  background-color: #rbrtdoisyghxmp !important;
  border-color: #rbrtdoisyghxmp !important;
  color: #bytblydyl !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.qqrxgzmhgi:hover,
.qqrxgzmhgi:focus,
.qqrxgzmhgi.cuxtolru,
.qqrxgzmhgi.ygviyaoyjow {
  color: #bytblydyl !important;
  background-color: #wznqughagcyjk !important;
  border-color: #wznqughagcyjk !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.qqrxgzmhgi.jofuvtmmcniboi,
.qqrxgzmhgi:disabled {
  color: #bytblydyl !important;
  background-color: #wznqughagcyjk !important;
  border-color: #wznqughagcyjk !important;
}
.liavgfrfluqhn,
.liavgfrfluqhn:active {
  background-color: #pwmcbxtflvfzok !important;
  border-color: #pwmcbxtflvfzok !important;
  color: #bytblydyl !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.liavgfrfluqhn:hover,
.liavgfrfluqhn:focus,
.liavgfrfluqhn.cuxtolru,
.liavgfrfluqhn.ygviyaoyjow {
  color: #bytblydyl !important;
  background-color: #hnjbsspozda !important;
  border-color: #hnjbsspozda !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.liavgfrfluqhn.jofuvtmmcniboi,
.liavgfrfluqhn:disabled {
  color: #bytblydyl !important;
  background-color: #hnjbsspozda !important;
  border-color: #hnjbsspozda !important;
}
.yfisiztrqgnfe,
.yfisiztrqgnfe:active {
  background-color: #nxbovdyqpukno !important;
  border-color: #nxbovdyqpukno !important;
  color: #bytblydyl !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.yfisiztrqgnfe:hover,
.yfisiztrqgnfe:focus,
.yfisiztrqgnfe.cuxtolru,
.yfisiztrqgnfe.ygviyaoyjow {
  color: #bytblydyl !important;
  background-color: #ajkgaciex !important;
  border-color: #ajkgaciex !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.yfisiztrqgnfe.jofuvtmmcniboi,
.yfisiztrqgnfe:disabled {
  color: #bytblydyl !important;
  background-color: #ajkgaciex !important;
  border-color: #ajkgaciex !important;
}
.thbjcqmgtdxukg,
.thbjcqmgtdxukg:active {
  background-color: #ukuobvhjei !important;
  border-color: #ukuobvhjei !important;
  color: #ytjptpqhjfy !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.thbjcqmgtdxukg:hover,
.thbjcqmgtdxukg:focus,
.thbjcqmgtdxukg.cuxtolru,
.thbjcqmgtdxukg.ygviyaoyjow {
  color: #ztrbkytczgk !important;
  background-color: #xuftfjhads !important;
  border-color: #xuftfjhads !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.thbjcqmgtdxukg.jofuvtmmcniboi,
.thbjcqmgtdxukg:disabled {
  color: #ytjptpqhjfy !important;
  background-color: #xuftfjhads !important;
  border-color: #xuftfjhads !important;
}
.qphmgmlqax,
.qphmgmlqax:active {
  background-color: #hiroiwkzsun !important;
  border-color: #hiroiwkzsun !important;
  color: #bytblydyl !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.qphmgmlqax:hover,
.qphmgmlqax:focus,
.qphmgmlqax.cuxtolru,
.qphmgmlqax.ygviyaoyjow {
  color: #bytblydyl !important;
  background-color: #xdwazggfepwcj !important;
  border-color: #xdwazggfepwcj !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.qphmgmlqax.jofuvtmmcniboi,
.qphmgmlqax:disabled {
  color: #bytblydyl !important;
  background-color: #xdwazggfepwcj !important;
  border-color: #xdwazggfepwcj !important;
}
.gnubmrrfangnsy,
.gnubmrrfangnsy:active {
  background-color: #rqldwpeioapza !important;
  border-color: #rqldwpeioapza !important;
  color: #pogipjywumtddt !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.gnubmrrfangnsy:hover,
.gnubmrrfangnsy:focus,
.gnubmrrfangnsy.cuxtolru,
.gnubmrrfangnsy.ygviyaoyjow {
  color: #ubqgizlbblvw !important;
  background-color: #bghcduqqyz !important;
  border-color: #bghcduqqyz !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.gnubmrrfangnsy.jofuvtmmcniboi,
.gnubmrrfangnsy:disabled {
  color: #pogipjywumtddt !important;
  background-color: #bghcduqqyz !important;
  border-color: #bghcduqqyz !important;
}
.aczkzaxb,
.aczkzaxb:active {
  background-color: #hyzmowgvf !important;
  border-color: #hyzmowgvf !important;
  color: #bytblydyl !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.aczkzaxb:hover,
.aczkzaxb:focus,
.aczkzaxb.cuxtolru,
.aczkzaxb.ygviyaoyjow {
  color: #bytblydyl !important;
  background-color: #vsiwiuec !important;
  border-color: #vsiwiuec !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.bqfbtiwpklaedi);
}
.aczkzaxb.jofuvtmmcniboi,
.aczkzaxb:disabled {
  color: #bytblydyl !important;
  background-color: #vsiwiuec !important;
  border-color: #vsiwiuec !important;
}
.uzdybwwj,
.uzdybwwj:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #qxsfspoduap;
}
.uzdybwwj:hover,
.uzdybwwj:focus,
.uzdybwwj.cuxtolru,
.uzdybwwj.ygviyaoyjow {
  color: #xgertnryj !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.uzdybwwj.jofuvtmmcniboi,
.uzdybwwj:disabled {
  color: #bytblydyl !important;
  background-color: #qxsfspoduap !important;
  border-color: #qxsfspoduap !important;
}
.cqzkvgfy,
.cqzkvgfy:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #rbrtdoisyghxmp;
}
.cqzkvgfy:hover,
.cqzkvgfy:focus,
.cqzkvgfy.cuxtolru,
.cqzkvgfy.ygviyaoyjow {
  color: #wznqughagcyjk !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.cqzkvgfy.jofuvtmmcniboi,
.cqzkvgfy:disabled {
  color: #bytblydyl !important;
  background-color: #rbrtdoisyghxmp !important;
  border-color: #rbrtdoisyghxmp !important;
}
.xgvxixqa,
.xgvxixqa:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #pwmcbxtflvfzok;
}
.xgvxixqa:hover,
.xgvxixqa:focus,
.xgvxixqa.cuxtolru,
.xgvxixqa.ygviyaoyjow {
  color: #hnjbsspozda !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.xgvxixqa.jofuvtmmcniboi,
.xgvxixqa:disabled {
  color: #bytblydyl !important;
  background-color: #pwmcbxtflvfzok !important;
  border-color: #pwmcbxtflvfzok !important;
}
.buauvliwsjclf,
.buauvliwsjclf:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #nxbovdyqpukno;
}
.buauvliwsjclf:hover,
.buauvliwsjclf:focus,
.buauvliwsjclf.cuxtolru,
.buauvliwsjclf.ygviyaoyjow {
  color: #ajkgaciex !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.buauvliwsjclf.jofuvtmmcniboi,
.buauvliwsjclf:disabled {
  color: #bytblydyl !important;
  background-color: #nxbovdyqpukno !important;
  border-color: #nxbovdyqpukno !important;
}
.cuhxvxor,
.cuhxvxor:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ukuobvhjei;
}
.cuhxvxor:hover,
.cuhxvxor:focus,
.cuhxvxor.cuxtolru,
.cuhxvxor.ygviyaoyjow {
  color: #xuftfjhads !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.cuhxvxor.jofuvtmmcniboi,
.cuhxvxor:disabled {
  color: #ytjptpqhjfy !important;
  background-color: #ukuobvhjei !important;
  border-color: #ukuobvhjei !important;
}
.hvrklfgxpg,
.hvrklfgxpg:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #hiroiwkzsun;
}
.hvrklfgxpg:hover,
.hvrklfgxpg:focus,
.hvrklfgxpg.cuxtolru,
.hvrklfgxpg.ygviyaoyjow {
  color: #xdwazggfepwcj !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.hvrklfgxpg.jofuvtmmcniboi,
.hvrklfgxpg:disabled {
  color: #bytblydyl !important;
  background-color: #hiroiwkzsun !important;
  border-color: #hiroiwkzsun !important;
}
.jlaiuckanzwu,
.jlaiuckanzwu:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #hyzmowgvf;
}
.jlaiuckanzwu:hover,
.jlaiuckanzwu:focus,
.jlaiuckanzwu.cuxtolru,
.jlaiuckanzwu.ygviyaoyjow {
  color: #vsiwiuec !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.jlaiuckanzwu.jofuvtmmcniboi,
.jlaiuckanzwu:disabled {
  color: #bytblydyl !important;
  background-color: #hyzmowgvf !important;
  border-color: #hyzmowgvf !important;
}
.bdqyvgupm,
.bdqyvgupm:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #rqldwpeioapza;
}
.bdqyvgupm:hover,
.bdqyvgupm:focus,
.bdqyvgupm.cuxtolru,
.bdqyvgupm.ygviyaoyjow {
  color: #bghcduqqyz !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.bdqyvgupm.jofuvtmmcniboi,
.bdqyvgupm:disabled {
  color: #pogipjywumtddt !important;
  background-color: #rqldwpeioapza !important;
  border-color: #rqldwpeioapza !important;
}
.thclpsfkkhudwl {
  color: #qxsfspoduap !important;
}
.yidgdafzeqi {
  color: #rbrtdoisyghxmp !important;
}
.uhpzxijjx {
  color: #nxbovdyqpukno !important;
}
.wmtlhkoo {
  color: #pwmcbxtflvfzok !important;
}
.nemzukicrpp {
  color: #ukuobvhjei !important;
}
.lzogvhnrrzmoug {
  color: #hiroiwkzsun !important;
}
.jaedibmxur {
  color: #rqldwpeioapza !important;
}
.zrdriiojzsfp {
  color: #hyzmowgvf !important;
}
a.thclpsfkkhudwl:hover,
a.thclpsfkkhudwl:focus,
a.thclpsfkkhudwl.ygviyaoyjow {
  color: #pspuxdqmql !important;
}
a.yidgdafzeqi:hover,
a.yidgdafzeqi:focus,
a.yidgdafzeqi.ygviyaoyjow {
  color: #egvqgcnphl !important;
}
a.uhpzxijjx:hover,
a.uhpzxijjx:focus,
a.uhpzxijjx.ygviyaoyjow {
  color: #hfwqimllacrivb !important;
}
a.wmtlhkoo:hover,
a.wmtlhkoo:focus,
a.wmtlhkoo.ygviyaoyjow {
  color: #rxymhvck !important;
}
a.nemzukicrpp:hover,
a.nemzukicrpp:focus,
a.nemzukicrpp.ygviyaoyjow {
  color: #xetvgulvfrrtc !important;
}
a.lzogvhnrrzmoug:hover,
a.lzogvhnrrzmoug:focus,
a.lzogvhnrrzmoug.ygviyaoyjow {
  color: #ufcdnpskfzn !important;
}
a.jaedibmxur:hover,
a.jaedibmxur:focus,
a.jaedibmxur.ygviyaoyjow {
  color: #xwhlgcvyrkkjd !important;
}
a.zrdriiojzsfp:hover,
a.zrdriiojzsfp:focus,
a.zrdriiojzsfp.ygviyaoyjow {
  color: #vsiwiuec !important;
}
a[class*="text-"]:not(.wzoeugiot):not(.uwchlkhy):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.wzoeugiot):not(.uwchlkhy):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.qtnirttxpibqj .wzoeugiot.ygviyaoyjow {
  color: #qxsfspoduap;
}
.qtnirttxpibqj .wzoeugiot:not(.ygviyaoyjow) {
  color: #hyzmowgvf;
}
.tevsazowsugen {
  background-color: #fjlysmgzr;
}
.rwtkswlegf {
  background-color: #pwmcbxtflvfzok;
}
.cvuvwfaiaq {
  background-color: #ukuobvhjei;
}
.nqddwclovhe {
  background-color: #hiroiwkzsun;
}
.tinbdbseliqxb li.ygviyaoyjow .pxzwmkhodcyff {
  background-color: #qxsfspoduap;
  border-color: #qxsfspoduap;
  color: #bytblydyl;
}
.tinbdbseliqxb li.ygviyaoyjow .pxzwmkhodcyff:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #qxsfspoduap;
}
.fjkfyeou.cqwkldihihwj .bmwsrmqnwie,
.fjkfyeou.cqwkldihihwj .jilknqwzyguzdh {
  color: #bytblydyl;
}
.fjkfyeou.oflyvvogszn .bmwsrmqnwie,
.fjkfyeou.oflyvvogszn .jilknqwzyguzdh {
  color: #ndlseeqxju;
}
.fjkfyeou.uxpkjerxqsiofl .bmwsrmqnwie,
.fjkfyeou.uxpkjerxqsiofl .jilknqwzyguzdh {
  color: #bytblydyl;
}
.fjkfyeou.yhttfqaqp .bmwsrmqnwie,
.fjkfyeou.yhttfqaqp .jilknqwzyguzdh {
  color: #bytblydyl;
}
.fjkfyeou.twcctqcm .bmwsrmqnwie,
.fjkfyeou.twcctqcm .jilknqwzyguzdh {
  color: #bytblydyl;
}
/* Scroll to top button*/
.ufpaztdhujtgl {
  display: none;
}
.tiqmxcqibgehjm {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.kfpuhlcc;
  font-weight: 400;
}
.tiqmxcqibgehjm > .qxmekkmudnas {
  font-size: 1.tqgemivhyxd;
}
.tiqmxcqibgehjm:hover,
.tiqmxcqibgehjm:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.crojiaifj) 0px 0px 0px 1px;
  border-color: #qxsfspoduap !important;
}
.tiqmxcqibgehjm:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.kfpuhlcc;
  font-weight: 400;
}
.tiqmxcqibgehjm:-webkit-input-placeholder > .qxmekkmudnas {
  font-size: 1.tqgemivhyxd;
}
blockquote {
  border-color: #qxsfspoduap;
}
/* Forms */
.fwoqrfdy li:hover,
.fwoqrfdy li.selected {
  background-color: #qxsfspoduap;
  color: #bytblydyl;
}
.ugioccwh {
  transition: 0.25s ease;
}
.ugioccwh:hover {
  border-color: #qxsfspoduap;
}
.fwoqrfdy .tjnskiwfuhkz,
.ugioccwh.minus:after,
.ugioccwh.plus:after {
  transition: 0.4s;
  border-top-color: #qyhurjqhbtkj;
  border-bottom-color: #qyhurjqhbtkj;
}
.fwoqrfdy:hover .tjnskiwfuhkz,
.ugioccwh.minus:hover:after,
.ugioccwh.plus:hover:after {
  border-top-color: #qxsfspoduap;
  border-bottom-color: #qxsfspoduap;
}
.ajjpxzuzfjq .uolgnrddbssnb td.xdsoft_default,
.ajjpxzuzfjq .uolgnrddbssnb td.xdsoft_current,
.ajjpxzuzfjq .qxpxnvgx .gipsojflctmrgi > div > div.xdsoft_current {
  color: #bytblydyl !important;
  background-color: #qxsfspoduap !important;
  box-shadow: none !important;
}
.ajjpxzuzfjq .uolgnrddbssnb td:hover,
.ajjpxzuzfjq .qxpxnvgx .gipsojflctmrgi > div > div:hover {
  color: #vsiwiuec !important;
  background: #rbrtdoisyghxmp !important;
  box-shadow: none !important;
}
.gmfhofvzo {
  background-image: none !important;
}
.qyhkjgbvlpe:not(section),
.cintarjmce {
  display: block;
  position: relative;
  padding-bottom: 56.ocrjifff%;
  width: 100%;
  height: auto;
}
iframe.qyhkjgbvlpe,
.qyhkjgbvlpe:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.kfpuhlcc' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.qyhkjgbvlpe:after {
  opacity: 0.kfpuhlcc;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.gajllpzxjssavw;
}
.anlhxgxmlja {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #bytblydyl;
}
@media (max-width: 991px) {
  .anlhxgxmlja .oyrpertbydivtx {
    margin-bottom: 1rem;
  }
}
.anlhxgxmlja .swmmjmgivnfccu {
  flex-direction: row-reverse;
}
.anlhxgxmlja img {
  width: 100%;
}
.ekjszlbctjgzcu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #bytblydyl;
}
.ekjszlbctjgzcu .oyrpertbydivtx {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.ekjszlbctjgzcu .oyrpertbydivtx img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gxhhkpxqpmx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #bytblydyl;
}
.gxhhkpxqpmx .wqfryuroqy {
  background: #tjmxnrhzs;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .gxhhkpxqpmx .wqfryuroqy {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gxhhkpxqpmx .wqfryuroqy {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .gxhhkpxqpmx .wqfryuroqy {
    padding: 4rem;
  }
}
.gxhhkpxqpmx .oobmslyeo,
.gxhhkpxqpmx .zygjvunqvw {
  color: #bytblydyl;
}
.gxhhkpxqpmx .zspaqxofteq,
.gxhhkpxqpmx .qexevwovyprraw {
  text-align: left;
}
