@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.iunzfcwnv {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.qixqzlybxn;
}
.iunzfcwnv > .qfmrybomh {
  font-size: 5.ajkywldqqlvf;
}
.dwoshrbtufmx {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.qixqzlybxn;
}
.dwoshrbtufmx > .qfmrybomh {
  font-size: 3.ajkywldqqlvf;
}
.msvxkgzwo {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.nkejliqt;
}
.msvxkgzwo > .qfmrybomh {
  font-size: 1.ugicrbupfmwgkd;
}
.airzwbodklec {
  font-family: 'Jost', sans-serif;
  font-size: 2.pnuwdvtt;
  line-height: 1.nkejliqt;
}
.airzwbodklec > .qfmrybomh {
  font-size: 2.ajkywldqqlvf;
}
.eyszdunhlolu {
  font-family: 'Jost', sans-serif;
  font-size: 1.pnuwdvtt;
  line-height: 1.nkejliqt;
}
.eyszdunhlolu > .qfmrybomh {
  font-size: 1.rjfmkyduxqcgtu;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .iunzfcwnv {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .iunzfcwnv {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.qixqzlybxn * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .dwoshrbtufmx {
    font-size: 2.dytzoewu;
    font-size: calc( 1.7rem + (3 - 1.mpwvnvlva) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.pjnmgthwmawwnc * (1.7rem + (3 - 1.mpwvnvlva) * ((100vw - 20rem) / (48 - 20))));
  }
  .msvxkgzwo {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.qixqzlybxn - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.qixqzlybxn - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .airzwbodklec {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.ppeyzthbnc - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.ppeyzthbnc - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .eyszdunhlolu {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.ppeyzthbnc - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.ppeyzthbnc - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.wvahofuqblgs {
  padding: 0.6rem 1.pnuwdvtt;
  border-radius: 4px;
}
.uuxeluuhfq {
  padding: 0.6rem 1.pnuwdvtt;
  border-radius: 4px;
}
.zrlkafjdgspya {
  padding: 0.6rem 1.pnuwdvtt;
  border-radius: 4px;
}
.jznmicioamcmc {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.mqrmwfaqzytadt {
  background-color: #einnepnhjp !important;
}
.fqipdavc {
  background-color: #dgjtedxn !important;
}
.otvvilqb {
  background-color: #cmiexjuteozope !important;
}
.lkhpywlmb {
  background-color: #aufshwvqropru !important;
}
.fsbfzbjocc {
  background-color: #psovdthgacrrel !important;
}
.izeftlpuyecayk,
.izeftlpuyecayk:active {
  background-color: #einnepnhjp !important;
  border-color: #einnepnhjp !important;
  color: #lekwxgbxxp !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.izeftlpuyecayk:hover,
.izeftlpuyecayk:focus,
.izeftlpuyecayk.slrnrkrhks,
.izeftlpuyecayk.xsfzyraetbxhkt {
  color: #lekwxgbxxp !important;
  background-color: #nkehnmloxczowu !important;
  border-color: #nkehnmloxczowu !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.izeftlpuyecayk.cmzxeecaon,
.izeftlpuyecayk:disabled {
  color: #lekwxgbxxp !important;
  background-color: #nkehnmloxczowu !important;
  border-color: #nkehnmloxczowu !important;
}
.cdsteovfcppqby,
.cdsteovfcppqby:active {
  background-color: #jjspgcbydx !important;
  border-color: #jjspgcbydx !important;
  color: #lekwxgbxxp !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.cdsteovfcppqby:hover,
.cdsteovfcppqby:focus,
.cdsteovfcppqby.slrnrkrhks,
.cdsteovfcppqby.xsfzyraetbxhkt {
  color: #lekwxgbxxp !important;
  background-color: #jhlgaadzkbzgro !important;
  border-color: #jhlgaadzkbzgro !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.cdsteovfcppqby.cmzxeecaon,
.cdsteovfcppqby:disabled {
  color: #lekwxgbxxp !important;
  background-color: #jhlgaadzkbzgro !important;
  border-color: #jhlgaadzkbzgro !important;
}
.cobntezvug,
.cobntezvug:active {
  background-color: #cmiexjuteozope !important;
  border-color: #cmiexjuteozope !important;
  color: #lekwxgbxxp !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.cobntezvug:hover,
.cobntezvug:focus,
.cobntezvug.slrnrkrhks,
.cobntezvug.xsfzyraetbxhkt {
  color: #lekwxgbxxp !important;
  background-color: #vbawcjrqxtm !important;
  border-color: #vbawcjrqxtm !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.cobntezvug.cmzxeecaon,
.cobntezvug:disabled {
  color: #lekwxgbxxp !important;
  background-color: #vbawcjrqxtm !important;
  border-color: #vbawcjrqxtm !important;
}
.nvixvrccnbmf,
.nvixvrccnbmf:active {
  background-color: #dgjtedxn !important;
  border-color: #dgjtedxn !important;
  color: #lekwxgbxxp !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.nvixvrccnbmf:hover,
.nvixvrccnbmf:focus,
.nvixvrccnbmf.slrnrkrhks,
.nvixvrccnbmf.xsfzyraetbxhkt {
  color: #lekwxgbxxp !important;
  background-color: #bodbsxulalm !important;
  border-color: #bodbsxulalm !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.nvixvrccnbmf.cmzxeecaon,
.nvixvrccnbmf:disabled {
  color: #lekwxgbxxp !important;
  background-color: #bodbsxulalm !important;
  border-color: #bodbsxulalm !important;
}
.skdjuzyllgdbx,
.skdjuzyllgdbx:active {
  background-color: #aufshwvqropru !important;
  border-color: #aufshwvqropru !important;
  color: #tvfxmpskw !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.skdjuzyllgdbx:hover,
.skdjuzyllgdbx:focus,
.skdjuzyllgdbx.slrnrkrhks,
.skdjuzyllgdbx.xsfzyraetbxhkt {
  color: #mbbkgtdyl !important;
  background-color: #amgovqsqswbmp !important;
  border-color: #amgovqsqswbmp !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.skdjuzyllgdbx.cmzxeecaon,
.skdjuzyllgdbx:disabled {
  color: #tvfxmpskw !important;
  background-color: #amgovqsqswbmp !important;
  border-color: #amgovqsqswbmp !important;
}
.gkehdoyneuty,
.gkehdoyneuty:active {
  background-color: #psovdthgacrrel !important;
  border-color: #psovdthgacrrel !important;
  color: #lekwxgbxxp !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.gkehdoyneuty:hover,
.gkehdoyneuty:focus,
.gkehdoyneuty.slrnrkrhks,
.gkehdoyneuty.xsfzyraetbxhkt {
  color: #lekwxgbxxp !important;
  background-color: #zxljywukgnj !important;
  border-color: #zxljywukgnj !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.gkehdoyneuty.cmzxeecaon,
.gkehdoyneuty:disabled {
  color: #lekwxgbxxp !important;
  background-color: #zxljywukgnj !important;
  border-color: #zxljywukgnj !important;
}
.oucsnlpybwx,
.oucsnlpybwx:active {
  background-color: #frtbrseie !important;
  border-color: #frtbrseie !important;
  color: #gapcqgzljfaag !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.oucsnlpybwx:hover,
.oucsnlpybwx:focus,
.oucsnlpybwx.slrnrkrhks,
.oucsnlpybwx.xsfzyraetbxhkt {
  color: #ekuqixyy !important;
  background-color: #pzwdkumsmopdn !important;
  border-color: #pzwdkumsmopdn !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.oucsnlpybwx.cmzxeecaon,
.oucsnlpybwx:disabled {
  color: #gapcqgzljfaag !important;
  background-color: #pzwdkumsmopdn !important;
  border-color: #pzwdkumsmopdn !important;
}
.eynmbhyheijyud,
.eynmbhyheijyud:active {
  background-color: #jomgdwbedqu !important;
  border-color: #jomgdwbedqu !important;
  color: #lekwxgbxxp !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.eynmbhyheijyud:hover,
.eynmbhyheijyud:focus,
.eynmbhyheijyud.slrnrkrhks,
.eynmbhyheijyud.xsfzyraetbxhkt {
  color: #lekwxgbxxp !important;
  background-color: #rqomziaqm !important;
  border-color: #rqomziaqm !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ppeyzthbnc);
}
.eynmbhyheijyud.cmzxeecaon,
.eynmbhyheijyud:disabled {
  color: #lekwxgbxxp !important;
  background-color: #rqomziaqm !important;
  border-color: #rqomziaqm !important;
}
.ioxvsrvkuswbnd,
.ioxvsrvkuswbnd:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #einnepnhjp;
}
.ioxvsrvkuswbnd:hover,
.ioxvsrvkuswbnd:focus,
.ioxvsrvkuswbnd.slrnrkrhks,
.ioxvsrvkuswbnd.xsfzyraetbxhkt {
  color: #nkehnmloxczowu !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.ioxvsrvkuswbnd.cmzxeecaon,
.ioxvsrvkuswbnd:disabled {
  color: #lekwxgbxxp !important;
  background-color: #einnepnhjp !important;
  border-color: #einnepnhjp !important;
}
.dsebklwq,
.dsebklwq:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #jjspgcbydx;
}
.dsebklwq:hover,
.dsebklwq:focus,
.dsebklwq.slrnrkrhks,
.dsebklwq.xsfzyraetbxhkt {
  color: #jhlgaadzkbzgro !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.dsebklwq.cmzxeecaon,
.dsebklwq:disabled {
  color: #lekwxgbxxp !important;
  background-color: #jjspgcbydx !important;
  border-color: #jjspgcbydx !important;
}
.pujnnwsumx,
.pujnnwsumx:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #cmiexjuteozope;
}
.pujnnwsumx:hover,
.pujnnwsumx:focus,
.pujnnwsumx.slrnrkrhks,
.pujnnwsumx.xsfzyraetbxhkt {
  color: #vbawcjrqxtm !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.pujnnwsumx.cmzxeecaon,
.pujnnwsumx:disabled {
  color: #lekwxgbxxp !important;
  background-color: #cmiexjuteozope !important;
  border-color: #cmiexjuteozope !important;
}
.shdqahneqyhnfr,
.shdqahneqyhnfr:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #dgjtedxn;
}
.shdqahneqyhnfr:hover,
.shdqahneqyhnfr:focus,
.shdqahneqyhnfr.slrnrkrhks,
.shdqahneqyhnfr.xsfzyraetbxhkt {
  color: #bodbsxulalm !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.shdqahneqyhnfr.cmzxeecaon,
.shdqahneqyhnfr:disabled {
  color: #lekwxgbxxp !important;
  background-color: #dgjtedxn !important;
  border-color: #dgjtedxn !important;
}
.ljkiurkg,
.ljkiurkg:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #aufshwvqropru;
}
.ljkiurkg:hover,
.ljkiurkg:focus,
.ljkiurkg.slrnrkrhks,
.ljkiurkg.xsfzyraetbxhkt {
  color: #amgovqsqswbmp !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.ljkiurkg.cmzxeecaon,
.ljkiurkg:disabled {
  color: #tvfxmpskw !important;
  background-color: #aufshwvqropru !important;
  border-color: #aufshwvqropru !important;
}
.cjqdyatrkzuu,
.cjqdyatrkzuu:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #psovdthgacrrel;
}
.cjqdyatrkzuu:hover,
.cjqdyatrkzuu:focus,
.cjqdyatrkzuu.slrnrkrhks,
.cjqdyatrkzuu.xsfzyraetbxhkt {
  color: #zxljywukgnj !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.cjqdyatrkzuu.cmzxeecaon,
.cjqdyatrkzuu:disabled {
  color: #lekwxgbxxp !important;
  background-color: #psovdthgacrrel !important;
  border-color: #psovdthgacrrel !important;
}
.cvyyrumruyx,
.cvyyrumruyx:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #jomgdwbedqu;
}
.cvyyrumruyx:hover,
.cvyyrumruyx:focus,
.cvyyrumruyx.slrnrkrhks,
.cvyyrumruyx.xsfzyraetbxhkt {
  color: #rqomziaqm !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.cvyyrumruyx.cmzxeecaon,
.cvyyrumruyx:disabled {
  color: #lekwxgbxxp !important;
  background-color: #jomgdwbedqu !important;
  border-color: #jomgdwbedqu !important;
}
.hodwhkpelrc,
.hodwhkpelrc:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #frtbrseie;
}
.hodwhkpelrc:hover,
.hodwhkpelrc:focus,
.hodwhkpelrc.slrnrkrhks,
.hodwhkpelrc.xsfzyraetbxhkt {
  color: #pzwdkumsmopdn !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.hodwhkpelrc.cmzxeecaon,
.hodwhkpelrc:disabled {
  color: #gapcqgzljfaag !important;
  background-color: #frtbrseie !important;
  border-color: #frtbrseie !important;
}
.elcbyhpitz {
  color: #einnepnhjp !important;
}
.rxmcefhguq {
  color: #jjspgcbydx !important;
}
.qaorhbhag {
  color: #dgjtedxn !important;
}
.jvdexgnz {
  color: #cmiexjuteozope !important;
}
.wcbiatwllia {
  color: #aufshwvqropru !important;
}
.rcnxpxusoct {
  color: #psovdthgacrrel !important;
}
.nezdqsaeains {
  color: #frtbrseie !important;
}
.odeaptwuben {
  color: #jomgdwbedqu !important;
}
a.elcbyhpitz:hover,
a.elcbyhpitz:focus,
a.elcbyhpitz.xsfzyraetbxhkt {
  color: #fsmbcbdmqg !important;
}
a.rxmcefhguq:hover,
a.rxmcefhguq:focus,
a.rxmcefhguq.xsfzyraetbxhkt {
  color: #fawnzbplstyafa !important;
}
a.qaorhbhag:hover,
a.qaorhbhag:focus,
a.qaorhbhag.xsfzyraetbxhkt {
  color: #yfsxxaojjjz !important;
}
a.jvdexgnz:hover,
a.jvdexgnz:focus,
a.jvdexgnz.xsfzyraetbxhkt {
  color: #vndfqcldellhd !important;
}
a.wcbiatwllia:hover,
a.wcbiatwllia:focus,
a.wcbiatwllia.xsfzyraetbxhkt {
  color: #xpwkdjqkljdsjv !important;
}
a.rcnxpxusoct:hover,
a.rcnxpxusoct:focus,
a.rcnxpxusoct.xsfzyraetbxhkt {
  color: #blbxuuwxveds !important;
}
a.nezdqsaeains:hover,
a.nezdqsaeains:focus,
a.nezdqsaeains.xsfzyraetbxhkt {
  color: #oelnufspv !important;
}
a.odeaptwuben:hover,
a.odeaptwuben:focus,
a.odeaptwuben.xsfzyraetbxhkt {
  color: #rqomziaqm !important;
}
a[class*="text-"]:not(.wjwlvpzzvwkr):not(.uechibwnqf):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.wjwlvpzzvwkr):not(.uechibwnqf):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.qmlumtdmpc .wjwlvpzzvwkr.xsfzyraetbxhkt {
  color: #einnepnhjp;
}
.qmlumtdmpc .wjwlvpzzvwkr:not(.xsfzyraetbxhkt) {
  color: #jomgdwbedqu;
}
.mcvosvaqbfyha {
  background-color: #eebdbvhht;
}
.diksewvr {
  background-color: #cmiexjuteozope;
}
.eedkygoppmv {
  background-color: #aufshwvqropru;
}
.nzrkcfeuma {
  background-color: #psovdthgacrrel;
}
.vgdjzogygf li.xsfzyraetbxhkt .wvahofuqblgs {
  background-color: #einnepnhjp;
  border-color: #einnepnhjp;
  color: #lekwxgbxxp;
}
.vgdjzogygf li.xsfzyraetbxhkt .wvahofuqblgs:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #einnepnhjp;
}
.gyjjapqqfy.mqrmwfaqzytadt .izawcjyyb,
.gyjjapqqfy.mqrmwfaqzytadt .mrpjkfcxiaf {
  color: #lekwxgbxxp;
}
.gyjjapqqfy.fqipdavc .izawcjyyb,
.gyjjapqqfy.fqipdavc .mrpjkfcxiaf {
  color: #onzigzgkha;
}
.gyjjapqqfy.otvvilqb .izawcjyyb,
.gyjjapqqfy.otvvilqb .mrpjkfcxiaf {
  color: #lekwxgbxxp;
}
.gyjjapqqfy.lkhpywlmb .izawcjyyb,
.gyjjapqqfy.lkhpywlmb .mrpjkfcxiaf {
  color: #lekwxgbxxp;
}
.gyjjapqqfy.fsbfzbjocc .izawcjyyb,
.gyjjapqqfy.fsbfzbjocc .mrpjkfcxiaf {
  color: #lekwxgbxxp;
}
/* Scroll to top button*/
.efiafmrfrzrnv {
  display: none;
}
.yxeroewjvgd {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.nkejliqt;
  font-weight: 400;
}
.yxeroewjvgd > .qfmrybomh {
  font-size: 1.ugicrbupfmwgkd;
}
.yxeroewjvgd:hover,
.yxeroewjvgd:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.khfvzosuktqbwm) 0px 0px 0px 1px;
  border-color: #einnepnhjp !important;
}
.yxeroewjvgd:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.nkejliqt;
  font-weight: 400;
}
.yxeroewjvgd:-webkit-input-placeholder > .qfmrybomh {
  font-size: 1.ugicrbupfmwgkd;
}
blockquote {
  border-color: #einnepnhjp;
}
/* Forms */
.iyogzgctspp li:hover,
.iyogzgctspp li.selected {
  background-color: #einnepnhjp;
  color: #lekwxgbxxp;
}
.odvewjwaft {
  transition: 0.25s ease;
}
.odvewjwaft:hover {
  border-color: #einnepnhjp;
}
.iyogzgctspp .obiofufurldg,
.odvewjwaft.minus:after,
.odvewjwaft.plus:after {
  transition: 0.4s;
  border-top-color: #yrtuzmphuceex;
  border-bottom-color: #yrtuzmphuceex;
}
.iyogzgctspp:hover .obiofufurldg,
.odvewjwaft.minus:hover:after,
.odvewjwaft.plus:hover:after {
  border-top-color: #einnepnhjp;
  border-bottom-color: #einnepnhjp;
}
.nlcsfmka .kenhnboqg td.xdsoft_default,
.nlcsfmka .kenhnboqg td.xdsoft_current,
.nlcsfmka .zprttlrqt .cyjspejqu > div > div.xdsoft_current {
  color: #lekwxgbxxp !important;
  background-color: #einnepnhjp !important;
  box-shadow: none !important;
}
.nlcsfmka .kenhnboqg td:hover,
.nlcsfmka .zprttlrqt .cyjspejqu > div > div:hover {
  color: #rqomziaqm !important;
  background: #jjspgcbydx !important;
  box-shadow: none !important;
}
.eucitogysmo {
  background-image: none !important;
}
.cfsmnulqf:not(section),
.xbjlxnyrinr {
  display: block;
  position: relative;
  padding-bottom: 56.xqfsknkgppttvh%;
  width: 100%;
  height: auto;
}
iframe.cfsmnulqf,
.cfsmnulqf:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.nkejliqt' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.cfsmnulqf:after {
  opacity: 0.nkejliqt;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.cpdpzooxf;
}
.bfavzwmdnbmtn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #lekwxgbxxp;
}
@media (max-width: 991px) {
  .bfavzwmdnbmtn .nuvvuqardl {
    margin-bottom: 1rem;
  }
}
.bfavzwmdnbmtn .aergzwhoimsq {
  flex-direction: row-reverse;
}
.bfavzwmdnbmtn img {
  width: 100%;
}
.smirlphmcff {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #lekwxgbxxp;
}
.smirlphmcff .nuvvuqardl {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.smirlphmcff .nuvvuqardl img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bfliawfcywm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #lekwxgbxxp;
}
.bfliawfcywm .esykhvppe {
  background: #qmedetfla;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .bfliawfcywm .esykhvppe {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bfliawfcywm .esykhvppe {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .bfliawfcywm .esykhvppe {
    padding: 4rem;
  }
}
.bfliawfcywm .flfemtnwj,
.bfliawfcywm .rkysnuya {
  color: #lekwxgbxxp;
}
.bfliawfcywm .wcxowyvhfqapr,
.bfliawfcywm .myuiimeekdwjz {
  text-align: left;
}
