@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.cbdkmijcwfgtkq {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.xqjmxyrfocm;
}
.cbdkmijcwfgtkq > .blcpjskb {
  font-size: 5.sftclwvvy;
}
.wtltymtnsfif {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.xqjmxyrfocm;
}
.wtltymtnsfif > .blcpjskb {
  font-size: 3.sftclwvvy;
}
.tjxrsxjbi {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.hquxbeqbjrj;
}
.tjxrsxjbi > .blcpjskb {
  font-size: 1.zhozlqju;
}
.qdrnplaujxed {
  font-family: 'Jost', sans-serif;
  font-size: 2.yocrsecxwag;
  line-height: 1.hquxbeqbjrj;
}
.qdrnplaujxed > .blcpjskb {
  font-size: 2.sftclwvvy;
}
.yhrlngqjejqkw {
  font-family: 'Jost', sans-serif;
  font-size: 1.yocrsecxwag;
  line-height: 1.hquxbeqbjrj;
}
.yhrlngqjejqkw > .blcpjskb {
  font-size: 1.vvswwhmtmd;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .cbdkmijcwfgtkq {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .cbdkmijcwfgtkq {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.xqjmxyrfocm * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .wtltymtnsfif {
    font-size: 2.udtortok;
    font-size: calc( 1.7rem + (3 - 1.saixbxbvqf) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.qettobnea * (1.7rem + (3 - 1.saixbxbvqf) * ((100vw - 20rem) / (48 - 20))));
  }
  .tjxrsxjbi {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.xqjmxyrfocm - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.xqjmxyrfocm - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .qdrnplaujxed {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.ashfnpbk - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.ashfnpbk - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .yhrlngqjejqkw {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.ashfnpbk - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.ashfnpbk - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.gfvtwulva {
  padding: 0.6rem 1.yocrsecxwag;
  border-radius: 4px;
}
.fwvopjzbajwc {
  padding: 0.6rem 1.yocrsecxwag;
  border-radius: 4px;
}
.pkburpueincm {
  padding: 0.6rem 1.yocrsecxwag;
  border-radius: 4px;
}
.vlptspezscabv {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.ixbrpxlkmyq {
  background-color: #eodtjcxxfeai !important;
}
.qxixxfqvkio {
  background-color: #mwuvingfzjqn !important;
}
.vsyeuqkxxjdc {
  background-color: #wnfqmpcnof !important;
}
.cvfrecjot {
  background-color: #nucpvasq !important;
}
.chrygtxnayrkp {
  background-color: #tjtrsdnhxzg !important;
}
.gvxhwsuquxtjkv,
.gvxhwsuquxtjkv:active {
  background-color: #eodtjcxxfeai !important;
  border-color: #eodtjcxxfeai !important;
  color: #qnymhhaluix !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.gvxhwsuquxtjkv:hover,
.gvxhwsuquxtjkv:focus,
.gvxhwsuquxtjkv.eltebtyqvht,
.gvxhwsuquxtjkv.fyjdgqyiuejo {
  color: #qnymhhaluix !important;
  background-color: #reqejnlt !important;
  border-color: #reqejnlt !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.gvxhwsuquxtjkv.islnwxqjhqxbmx,
.gvxhwsuquxtjkv:disabled {
  color: #qnymhhaluix !important;
  background-color: #reqejnlt !important;
  border-color: #reqejnlt !important;
}
.sfbgnntdvtsd,
.sfbgnntdvtsd:active {
  background-color: #aovgggsjxneb !important;
  border-color: #aovgggsjxneb !important;
  color: #qnymhhaluix !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.sfbgnntdvtsd:hover,
.sfbgnntdvtsd:focus,
.sfbgnntdvtsd.eltebtyqvht,
.sfbgnntdvtsd.fyjdgqyiuejo {
  color: #qnymhhaluix !important;
  background-color: #oumpymvv !important;
  border-color: #oumpymvv !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.sfbgnntdvtsd.islnwxqjhqxbmx,
.sfbgnntdvtsd:disabled {
  color: #qnymhhaluix !important;
  background-color: #oumpymvv !important;
  border-color: #oumpymvv !important;
}
.kzueaxmiotajjk,
.kzueaxmiotajjk:active {
  background-color: #wnfqmpcnof !important;
  border-color: #wnfqmpcnof !important;
  color: #qnymhhaluix !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.kzueaxmiotajjk:hover,
.kzueaxmiotajjk:focus,
.kzueaxmiotajjk.eltebtyqvht,
.kzueaxmiotajjk.fyjdgqyiuejo {
  color: #qnymhhaluix !important;
  background-color: #txmpognk !important;
  border-color: #txmpognk !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.kzueaxmiotajjk.islnwxqjhqxbmx,
.kzueaxmiotajjk:disabled {
  color: #qnymhhaluix !important;
  background-color: #txmpognk !important;
  border-color: #txmpognk !important;
}
.csnaazyjifuy,
.csnaazyjifuy:active {
  background-color: #mwuvingfzjqn !important;
  border-color: #mwuvingfzjqn !important;
  color: #qnymhhaluix !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.csnaazyjifuy:hover,
.csnaazyjifuy:focus,
.csnaazyjifuy.eltebtyqvht,
.csnaazyjifuy.fyjdgqyiuejo {
  color: #qnymhhaluix !important;
  background-color: #zffmjsjoqm !important;
  border-color: #zffmjsjoqm !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.csnaazyjifuy.islnwxqjhqxbmx,
.csnaazyjifuy:disabled {
  color: #qnymhhaluix !important;
  background-color: #zffmjsjoqm !important;
  border-color: #zffmjsjoqm !important;
}
.phgehychar,
.phgehychar:active {
  background-color: #nucpvasq !important;
  border-color: #nucpvasq !important;
  color: #vqxurnxexgpc !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.phgehychar:hover,
.phgehychar:focus,
.phgehychar.eltebtyqvht,
.phgehychar.fyjdgqyiuejo {
  color: #wrvrwtfekkw !important;
  background-color: #qhfgwetboa !important;
  border-color: #qhfgwetboa !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.phgehychar.islnwxqjhqxbmx,
.phgehychar:disabled {
  color: #vqxurnxexgpc !important;
  background-color: #qhfgwetboa !important;
  border-color: #qhfgwetboa !important;
}
.begzgalpzsjy,
.begzgalpzsjy:active {
  background-color: #tjtrsdnhxzg !important;
  border-color: #tjtrsdnhxzg !important;
  color: #qnymhhaluix !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.begzgalpzsjy:hover,
.begzgalpzsjy:focus,
.begzgalpzsjy.eltebtyqvht,
.begzgalpzsjy.fyjdgqyiuejo {
  color: #qnymhhaluix !important;
  background-color: #tvdajzeeyxqn !important;
  border-color: #tvdajzeeyxqn !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.begzgalpzsjy.islnwxqjhqxbmx,
.begzgalpzsjy:disabled {
  color: #qnymhhaluix !important;
  background-color: #tvdajzeeyxqn !important;
  border-color: #tvdajzeeyxqn !important;
}
.fljdmeimygu,
.fljdmeimygu:active {
  background-color: #fmznnpzy !important;
  border-color: #fmznnpzy !important;
  color: #agrfjxhpmnr !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.fljdmeimygu:hover,
.fljdmeimygu:focus,
.fljdmeimygu.eltebtyqvht,
.fljdmeimygu.fyjdgqyiuejo {
  color: #klpwmewaatpix !important;
  background-color: #mgeeoautrit !important;
  border-color: #mgeeoautrit !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.fljdmeimygu.islnwxqjhqxbmx,
.fljdmeimygu:disabled {
  color: #agrfjxhpmnr !important;
  background-color: #mgeeoautrit !important;
  border-color: #mgeeoautrit !important;
}
.ceyaivsqgfom,
.ceyaivsqgfom:active {
  background-color: #wzposjagrarxu !important;
  border-color: #wzposjagrarxu !important;
  color: #qnymhhaluix !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.ceyaivsqgfom:hover,
.ceyaivsqgfom:focus,
.ceyaivsqgfom.eltebtyqvht,
.ceyaivsqgfom.fyjdgqyiuejo {
  color: #qnymhhaluix !important;
  background-color: #jswclams !important;
  border-color: #jswclams !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.ashfnpbk);
}
.ceyaivsqgfom.islnwxqjhqxbmx,
.ceyaivsqgfom:disabled {
  color: #qnymhhaluix !important;
  background-color: #jswclams !important;
  border-color: #jswclams !important;
}
.fgeckgfkumrof,
.fgeckgfkumrof:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eodtjcxxfeai;
}
.fgeckgfkumrof:hover,
.fgeckgfkumrof:focus,
.fgeckgfkumrof.eltebtyqvht,
.fgeckgfkumrof.fyjdgqyiuejo {
  color: #reqejnlt !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.fgeckgfkumrof.islnwxqjhqxbmx,
.fgeckgfkumrof:disabled {
  color: #qnymhhaluix !important;
  background-color: #eodtjcxxfeai !important;
  border-color: #eodtjcxxfeai !important;
}
.nczopvfsfji,
.nczopvfsfji:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #aovgggsjxneb;
}
.nczopvfsfji:hover,
.nczopvfsfji:focus,
.nczopvfsfji.eltebtyqvht,
.nczopvfsfji.fyjdgqyiuejo {
  color: #oumpymvv !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.nczopvfsfji.islnwxqjhqxbmx,
.nczopvfsfji:disabled {
  color: #qnymhhaluix !important;
  background-color: #aovgggsjxneb !important;
  border-color: #aovgggsjxneb !important;
}
.kiekwtoo,
.kiekwtoo:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #wnfqmpcnof;
}
.kiekwtoo:hover,
.kiekwtoo:focus,
.kiekwtoo.eltebtyqvht,
.kiekwtoo.fyjdgqyiuejo {
  color: #txmpognk !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.kiekwtoo.islnwxqjhqxbmx,
.kiekwtoo:disabled {
  color: #qnymhhaluix !important;
  background-color: #wnfqmpcnof !important;
  border-color: #wnfqmpcnof !important;
}
.trbxhbwz,
.trbxhbwz:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #mwuvingfzjqn;
}
.trbxhbwz:hover,
.trbxhbwz:focus,
.trbxhbwz.eltebtyqvht,
.trbxhbwz.fyjdgqyiuejo {
  color: #zffmjsjoqm !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.trbxhbwz.islnwxqjhqxbmx,
.trbxhbwz:disabled {
  color: #qnymhhaluix !important;
  background-color: #mwuvingfzjqn !important;
  border-color: #mwuvingfzjqn !important;
}
.clqglskek,
.clqglskek:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #nucpvasq;
}
.clqglskek:hover,
.clqglskek:focus,
.clqglskek.eltebtyqvht,
.clqglskek.fyjdgqyiuejo {
  color: #qhfgwetboa !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.clqglskek.islnwxqjhqxbmx,
.clqglskek:disabled {
  color: #vqxurnxexgpc !important;
  background-color: #nucpvasq !important;
  border-color: #nucpvasq !important;
}
.cvcfykmgfdjjeb,
.cvcfykmgfdjjeb:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #tjtrsdnhxzg;
}
.cvcfykmgfdjjeb:hover,
.cvcfykmgfdjjeb:focus,
.cvcfykmgfdjjeb.eltebtyqvht,
.cvcfykmgfdjjeb.fyjdgqyiuejo {
  color: #tvdajzeeyxqn !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.cvcfykmgfdjjeb.islnwxqjhqxbmx,
.cvcfykmgfdjjeb:disabled {
  color: #qnymhhaluix !important;
  background-color: #tjtrsdnhxzg !important;
  border-color: #tjtrsdnhxzg !important;
}
.alotppsqrqaj,
.alotppsqrqaj:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #wzposjagrarxu;
}
.alotppsqrqaj:hover,
.alotppsqrqaj:focus,
.alotppsqrqaj.eltebtyqvht,
.alotppsqrqaj.fyjdgqyiuejo {
  color: #jswclams !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.alotppsqrqaj.islnwxqjhqxbmx,
.alotppsqrqaj:disabled {
  color: #qnymhhaluix !important;
  background-color: #wzposjagrarxu !important;
  border-color: #wzposjagrarxu !important;
}
.kfbobuopana,
.kfbobuopana:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fmznnpzy;
}
.kfbobuopana:hover,
.kfbobuopana:focus,
.kfbobuopana.eltebtyqvht,
.kfbobuopana.fyjdgqyiuejo {
  color: #mgeeoautrit !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.kfbobuopana.islnwxqjhqxbmx,
.kfbobuopana:disabled {
  color: #agrfjxhpmnr !important;
  background-color: #fmznnpzy !important;
  border-color: #fmznnpzy !important;
}
.ziagcgdpwnada {
  color: #eodtjcxxfeai !important;
}
.dbjziwqkk {
  color: #aovgggsjxneb !important;
}
.vvgnmccubdczh {
  color: #mwuvingfzjqn !important;
}
.hepxeifrmrwi {
  color: #wnfqmpcnof !important;
}
.tprknxxpu {
  color: #nucpvasq !important;
}
.sgumeaopgyitr {
  color: #tjtrsdnhxzg !important;
}
.diygphvsco {
  color: #fmznnpzy !important;
}
.yinvatmcvqqxxn {
  color: #wzposjagrarxu !important;
}
a.ziagcgdpwnada:hover,
a.ziagcgdpwnada:focus,
a.ziagcgdpwnada.fyjdgqyiuejo {
  color: #akbbtgyg !important;
}
a.dbjziwqkk:hover,
a.dbjziwqkk:focus,
a.dbjziwqkk.fyjdgqyiuejo {
  color: #gbsjvrvip !important;
}
a.vvgnmccubdczh:hover,
a.vvgnmccubdczh:focus,
a.vvgnmccubdczh.fyjdgqyiuejo {
  color: #fzqudgbj !important;
}
a.hepxeifrmrwi:hover,
a.hepxeifrmrwi:focus,
a.hepxeifrmrwi.fyjdgqyiuejo {
  color: #umddnwmpccpcz !important;
}
a.tprknxxpu:hover,
a.tprknxxpu:focus,
a.tprknxxpu.fyjdgqyiuejo {
  color: #rtpgzyfwoh !important;
}
a.sgumeaopgyitr:hover,
a.sgumeaopgyitr:focus,
a.sgumeaopgyitr.fyjdgqyiuejo {
  color: #vjokansrnsi !important;
}
a.diygphvsco:hover,
a.diygphvsco:focus,
a.diygphvsco.fyjdgqyiuejo {
  color: #jprsnejwweala !important;
}
a.yinvatmcvqqxxn:hover,
a.yinvatmcvqqxxn:focus,
a.yinvatmcvqqxxn.fyjdgqyiuejo {
  color: #jswclams !important;
}
a[class*="text-"]:not(.kosmzdmlhd):not(.smjhskpidqbz):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.kosmzdmlhd):not(.smjhskpidqbz):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.gupnhhuajql .kosmzdmlhd.fyjdgqyiuejo {
  color: #eodtjcxxfeai;
}
.gupnhhuajql .kosmzdmlhd:not(.fyjdgqyiuejo) {
  color: #wzposjagrarxu;
}
.ltyhbmbbyfvjtm {
  background-color: #zgonloqaekug;
}
.awjtjmssulmzjf {
  background-color: #wnfqmpcnof;
}
.ozhknews {
  background-color: #nucpvasq;
}
.qidemrlhynhszz {
  background-color: #tjtrsdnhxzg;
}
.sahnwojstnid li.fyjdgqyiuejo .gfvtwulva {
  background-color: #eodtjcxxfeai;
  border-color: #eodtjcxxfeai;
  color: #qnymhhaluix;
}
.sahnwojstnid li.fyjdgqyiuejo .gfvtwulva:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #eodtjcxxfeai;
}
.vxpzlzfo.ixbrpxlkmyq .qvomsjrgd,
.vxpzlzfo.ixbrpxlkmyq .inxsvrapbd {
  color: #qnymhhaluix;
}
.vxpzlzfo.qxixxfqvkio .qvomsjrgd,
.vxpzlzfo.qxixxfqvkio .inxsvrapbd {
  color: #zkvlrrfychkl;
}
.vxpzlzfo.vsyeuqkxxjdc .qvomsjrgd,
.vxpzlzfo.vsyeuqkxxjdc .inxsvrapbd {
  color: #qnymhhaluix;
}
.vxpzlzfo.cvfrecjot .qvomsjrgd,
.vxpzlzfo.cvfrecjot .inxsvrapbd {
  color: #qnymhhaluix;
}
.vxpzlzfo.chrygtxnayrkp .qvomsjrgd,
.vxpzlzfo.chrygtxnayrkp .inxsvrapbd {
  color: #qnymhhaluix;
}
/* Scroll to top button*/
.gldyuexxzeenoe {
  display: none;
}
.yxtawtwkdncs {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.hquxbeqbjrj;
  font-weight: 400;
}
.yxtawtwkdncs > .blcpjskb {
  font-size: 1.zhozlqju;
}
.yxtawtwkdncs:hover,
.yxtawtwkdncs:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.slxvhliuutggt) 0px 0px 0px 1px;
  border-color: #eodtjcxxfeai !important;
}
.yxtawtwkdncs:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.hquxbeqbjrj;
  font-weight: 400;
}
.yxtawtwkdncs:-webkit-input-placeholder > .blcpjskb {
  font-size: 1.zhozlqju;
}
blockquote {
  border-color: #eodtjcxxfeai;
}
/* Forms */
.ukoykauwpsnt li:hover,
.ukoykauwpsnt li.selected {
  background-color: #eodtjcxxfeai;
  color: #qnymhhaluix;
}
.bwdljaatx {
  transition: 0.25s ease;
}
.bwdljaatx:hover {
  border-color: #eodtjcxxfeai;
}
.ukoykauwpsnt .yzmquhhv,
.bwdljaatx.minus:after,
.bwdljaatx.plus:after {
  transition: 0.4s;
  border-top-color: #twkepslel;
  border-bottom-color: #twkepslel;
}
.ukoykauwpsnt:hover .yzmquhhv,
.bwdljaatx.minus:hover:after,
.bwdljaatx.plus:hover:after {
  border-top-color: #eodtjcxxfeai;
  border-bottom-color: #eodtjcxxfeai;
}
.dmpsrghdpwk .uddrxxwtmuk td.xdsoft_default,
.dmpsrghdpwk .uddrxxwtmuk td.xdsoft_current,
.dmpsrghdpwk .bpvyrrptyjwun .fduxvnbw > div > div.xdsoft_current {
  color: #qnymhhaluix !important;
  background-color: #eodtjcxxfeai !important;
  box-shadow: none !important;
}
.dmpsrghdpwk .uddrxxwtmuk td:hover,
.dmpsrghdpwk .bpvyrrptyjwun .fduxvnbw > div > div:hover {
  color: #jswclams !important;
  background: #aovgggsjxneb !important;
  box-shadow: none !important;
}
.rutnqxlvinyso {
  background-image: none !important;
}
.aaaynrgbexkuc:not(section),
.kdvzulqzydwt {
  display: block;
  position: relative;
  padding-bottom: 56.byntvgmyjxpyw%;
  width: 100%;
  height: auto;
}
iframe.aaaynrgbexkuc,
.aaaynrgbexkuc:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.hquxbeqbjrj' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.aaaynrgbexkuc:after {
  opacity: 0.hquxbeqbjrj;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.bzvstlllbhv;
}
.kmtpcuzuobryn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #qnymhhaluix;
}
@media (max-width: 991px) {
  .kmtpcuzuobryn .wlzwkxybcwhvzv {
    margin-bottom: 1rem;
  }
}
.kmtpcuzuobryn .bzqngrcxipcv {
  flex-direction: row-reverse;
}
.kmtpcuzuobryn img {
  width: 100%;
}
.uzqsneigfgbe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #qnymhhaluix;
}
.uzqsneigfgbe .wlzwkxybcwhvzv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.uzqsneigfgbe .wlzwkxybcwhvzv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fwkmchbe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #qnymhhaluix;
}
.fwkmchbe .ltubdumguw {
  background: #cszdpgifeko;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .fwkmchbe .ltubdumguw {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fwkmchbe .ltubdumguw {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .fwkmchbe .ltubdumguw {
    padding: 4rem;
  }
}
.fwkmchbe .chjirtktgtx,
.fwkmchbe .dfmepmzkusmf {
  color: #qnymhhaluix;
}
.fwkmchbe .nvnfqgaa,
.fwkmchbe .ghppbtmrehz {
  text-align: left;
}
