@font-face {
  font-family: 'Moririse2';
  font-display: swap;
  src:  url('mobirise2.eot?f2bix4');
  src:  url('mobirise2.eot?f2bix4#iefix') format('embedded-opentype'),
    url('mobirise2.ttf?f2bix4') format('truetype'),
    url('mobirise2.woff?f2bix4') format('woff'),
    url('mobirise2.svg?f2bix4#mobirise2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mobi-"], [class*=" mobi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ggnohfvrxnwt:before {
  content: "\e900";
}
.ncpzusvf:before {
  content: "\e901";
}
.cgruuraj:before {
  content: "\e902";
}
.ihaziowfrrk:before {
  content: "\e903";
}
.drhwadte:before {
  content: "\e904";
}
.zcioruvzirvvh:before {
  content: "\e905";
}
.clxpahgoyksbp:before {
  content: "\e906";
}
.ububaxezvw:before {
  content: "\e907";
}
.iizzhbrd:before {
  content: "\e908";
}
.edaddqodulhb:before {
  content: "\e909";
}
.qkzyutmwpicec:before {
  content: "\e90a";
}
.wdjmbxdta:before {
  content: "\e90b";
}
.ceezvyuejhek:before {
  content: "\e90c";
}
.qotjhxufey:before {
  content: "\e90d";
}
.wpbltczps:before {
  content: "\e90e";
}
.dlivlpqllow:before {
  content: "\e90f";
}
.guhglwnresulra:before {
  content: "\e910";
}
.pvvhcdqt:before {
  content: "\e911";
}
.hdolvyluis:before {
  content: "\e912";
}
.dsuaylokucdo:before {
  content: "\e913";
}
.bgopjibludsb:before {
  content: "\e914";
}
.egttwdwgumltie:before {
  content: "\e915";
}
.dlpwbllcnwe:before {
  content: "\e916";
}
.lwxmhbby:before {
  content: "\e917";
}
.pvyzebndpxyjg:before {
  content: "\e918";
}
.uzgckgxknygox:before {
  content: "\e919";
}
.hzrcydzuwydw:before {
  content: "\e91a";
}
.jlpqixubsvth:before {
  content: "\e91b";
}
.akvojoqqqassku:before {
  content: "\e91c";
}
.yynnzavhsmbevq:before {
  content: "\e91d";
}
.nbopwmce:before {
  content: "\e91e";
}
.tubhmrsex:before {
  content: "\e91f";
}
.gosinnkwqgs:before {
  content: "\e920";
}
.idujrivlt:before {
  content: "\e921";
}
.uwgvrenrbamq:before {
  content: "\e922";
}
.bjjsjdfnvsarxx:before {
  content: "\e923";
}
.dgsnpueac:before {
  content: "\e924";
}
.atnineiafzr:before {
  content: "\e925";
}
.quycyoisnbs:before {
  content: "\e926";
}
.hugmkbhiqb:before {
  content: "\e927";
}
.jtctpoatea:before {
  content: "\e928";
}
.cybzcwgjucoka:before {
  content: "\e929";
}
.hzpzxppeh:before {
  content: "\e92a";
}
.ygidzpgndjazy:before {
  content: "\e92b";
}
.huyejptegja:before {
  content: "\e92c";
}
.ehsqxcvgfvfpe:before {
  content: "\e92d";
}
.zuephdyem:before {
  content: "\e92e";
}
.aplmkiobhplqyd:before {
  content: "\e92f";
}
.azqfrfdu:before {
  content: "\e930";
}
.fgulxbcpod:before {
  content: "\e931";
}
.tszqykac:before {
  content: "\e932";
}
.jcjgfoawsu:before {
  content: "\e933";
}
.oowxvffw:before {
  content: "\e934";
}
.alovctekvgqnu:before {
  content: "\e935";
}
.massvbppp:before {
  content: "\e936";
}
.rtpsgrpdxg:before {
  content: "\e937";
}
.rsgczoeiupiutz:before {
  content: "\e938";
}
.cxpuadnnl:before {
  content: "\e939";
}
.diaudnmobgi:before {
  content: "\e93a";
}
.isgoisbpgreopu:before {
  content: "\e93b";
}
.kblvmblp:before {
  content: "\e93c";
}
.gufuksmynce:before {
  content: "\e93d";
}
.piybgfgvamiy:before {
  content: "\e93e";
}
.lsksmvfaeongna:before {
  content: "\e93f";
}
.ubzcybxuwxrl:before {
  content: "\e940";
}
.vsljcjmptt:before {
  content: "\e941";
}
.ityvskxrntk:before {
  content: "\e942";
}
.zxahlretsrgve:before {
  content: "\e943";
}
.txzlfmcgexgvhy:before {
  content: "\e944";
}
.enpgkqmyp:before {
  content: "\e945";
}
.tjyhqjdssfkm:before {
  content: "\e946";
}
.towqjcpkcbe:before {
  content: "\e947";
}
.amjhgkuxralv:before {
  content: "\e948";
}
.qjwxatgk:before {
  content: "\e949";
}
.jbnwzobpxgpjyn:before {
  content: "\e94a";
}
.aukgdnqmat:before {
  content: "\e94b";
}
.hkyhuejowl:before {
  content: "\e94c";
}
.ewfmkvxjeij:before {
  content: "\e94d";
}
.ujtdwgwyxe:before {
  content: "\e94e";
}
.wwzlqcpnevxz:before {
  content: "\e94f";
}
.vijmxgcecen:before {
  content: "\e950";
}
.zlfiqsxqwgazp:before {
  content: "\e951";
}
.cuqwekwti:before {
  content: "\e952";
}
.opoudizeof:before {
  content: "\e953";
}
.zofissxzpzpen:before {
  content: "\e954";
}
.znjkqkdq:before {
  content: "\e955";
}
.ezsxunhcjmipl:before {
  content: "\e956";
}
.gcnjgkmteio:before {
  content: "\e957";
}
.nhygdtcscz:before {
  content: "\e958";
}
.xvqtdgugob:before {
  content: "\e959";
}
.gvxweffyibte:before {
  content: "\e95a";
}
.skqcaudg:before {
  content: "\e95b";
}
.vdcxnjqwllyh:before {
  content: "\e95c";
}
.pfwdyjxkcdqkb:before {
  content: "\e95d";
}
.obmxrnnpkhupf:before {
  content: "\e95e";
}
.hpdiskhwndsho:before {
  content: "\e95f";
}
.fgzomnspriar:before {
  content: "\e960";
}
.pifsqxyrvbgg:before {
  content: "\e961";
}
.mtvbwfjcsp:before {
  content: "\e962";
}
.euknffyzngxj:before {
  content: "\e963";
}
.ghhqjegwttmv:before {
  content: "\e964";
}
.zkhwtfoux:before {
  content: "\e965";
}
.jsnqifarkoe:before {
  content: "\e966";
}
.kuuxqhvqzedjsp:before {
  content: "\e967";
}
.uhurhwsfilgut:before {
  content: "\e968";
}
.hlbuyvuwkd:before {
  content: "\e969";
}
.mwnvqnhx:before {
  content: "\e96a";
}
.ichnxejo:before {
  content: "\e96b";
}
.zyddyujs:before {
  content: "\e96c";
}
.yuxskttjg:before {
  content: "\e96d";
}
.rdqzoklktoln:before {
  content: "\e96e";
}
.dccaodlqsdd:before {
  content: "\e96f";
}
.lrcihpbvzo:before {
  content: "\e970";
}
.zksxijrve:before {
  content: "\e971";
}
.juvgmglnri:before {
  content: "\e972";
}
.fmpzuptujqhki:before {
  content: "\e973";
}
.joncryziu:before {
  content: "\e974";
}
.nqjwvajlvbgy:before {
  content: "\e975";
}
.rgdhkkejgg:before {
  content: "\e976";
}
.tcmxhutfbacbc:before {
  content: "\e977";
}
.pfazgdcmogmze:before {
  content: "\e978";
}
.srrrdrso:before {
  content: "\e979";
}
.jicgxqiurqwuff:before {
  content: "\e97a";
}
.csazbkrgozp:before {
  content: "\e97b";
}
.nzuhifwqh:before {
  content: "\e97c";
}
.hyccuvtztmjox:before {
  content: "\e97d";
}
.ioggawnddkdk:before {
  content: "\e97e";
}
.lmcvsfckkreqq:before {
  content: "\e97f";
}
.ydatmptavjjrz:before {
  content: "\e980";
}
.cztzooml:before {
  content: "\e981";
}
.ydttpmniz:before {
  content: "\e982";
}
.nwrproybmsblrw:before {
  content: "\e983";
}
.glsejvzfm:before {
  content: "\e984";
}
.dqcxulypnt:before {
  content: "\e985";
}
.pxhsjorwy:before {
  content: "\e986";
}
.zjlmelanhoboiz:before {
  content: "\e987";
}
.jzlpodvoizj:before {
  content: "\e988";
}
.xdsgnihygugsf:before {
  content: "\e989";
}
.fusbrbmaxiyo:before {
  content: "\e98a";
}
.akqtxcmj:before {
  content: "\e98b";
}
.vildncdcs:before {
  content: "\e98c";
}
.ghsrdyce:before {
  content: "\e98d";
}
.ybwkrnygh:before {
  content: "\e98e";
}
.sebeotgvmf:before {
  content: "\e98f";
}
.mjkydkikox:before {
  content: "\e990";
}
.rhffbjsj:before {
  content: "\e991";
}
.vesnwdccg:before {
  content: "\e992";
}
.srdkimecutxwtv:before {
  content: "\e993";
}
.rkzmcluhzvanfd:before {
  content: "\e994";
}
.wtgjhitnj:before {
  content: "\e995";
}
.loypuokniw:before {
  content: "\e996";
}
.aphqkoxlaa:before {
  content: "\e997";
}
.kxclfepjtwmguk:before {
  content: "\e998";
}
.ceqcqgypiqwhrj:before {
  content: "\e999";
}
.mlgacfuqgzknv:before {
  content: "\e99a";
}
.eepfthsh:before {
  content: "\e99b";
}
.onwscahyrtuq:before {
  content: "\e99c";
}
