@font-face {
  font-family: 'Moririse2';
  font-display: swap;
  src:  url('mobirise2.eot?f2bix4');
  src:  url('mobirise2.eot?f2bix4#iefix') format('embedded-opentype'),
    url('mobirise2.ttf?f2bix4') format('truetype'),
    url('mobirise2.woff?f2bix4') format('woff'),
    url('mobirise2.svg?f2bix4#mobirise2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mobi-"], [class*=" mobi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slgdncozjfuijz:before {
  content: "\e900";
}
.isugbpll:before {
  content: "\e901";
}
.vrmghajyip:before {
  content: "\e902";
}
.bhykvznas:before {
  content: "\e903";
}
.erlckhfike:before {
  content: "\e904";
}
.fqfetyphklsscp:before {
  content: "\e905";
}
.ciasfwmrs:before {
  content: "\e906";
}
.bkryozmt:before {
  content: "\e907";
}
.zmowknlwigiiq:before {
  content: "\e908";
}
.rhpdgwhogx:before {
  content: "\e909";
}
.qxhbopenkdiyz:before {
  content: "\e90a";
}
.sxoagdbcgiklm:before {
  content: "\e90b";
}
.bcoewwofogaba:before {
  content: "\e90c";
}
.dhhavwqqidwftc:before {
  content: "\e90d";
}
.ajmdhlmzrjkpy:before {
  content: "\e90e";
}
.dskgksrfhkhhg:before {
  content: "\e90f";
}
.ijmxxbydrrykc:before {
  content: "\e910";
}
.jlplasiccaaapt:before {
  content: "\e911";
}
.wdkpzbfczh:before {
  content: "\e912";
}
.yunpekgviwglr:before {
  content: "\e913";
}
.dadvafceleejhf:before {
  content: "\e914";
}
.eltdhamy:before {
  content: "\e915";
}
.vzhrxehlxagdt:before {
  content: "\e916";
}
.dqdemrqbbecd:before {
  content: "\e917";
}
.qeaohgcjxorndb:before {
  content: "\e918";
}
.lizypqbs:before {
  content: "\e919";
}
.mynyycxtsngu:before {
  content: "\e91a";
}
.lupyvfvkfcg:before {
  content: "\e91b";
}
.lztpnqrixkcsb:before {
  content: "\e91c";
}
.ytmemucljeym:before {
  content: "\e91d";
}
.nzlwrltx:before {
  content: "\e91e";
}
.sjioxkxyzdq:before {
  content: "\e91f";
}
.xmzqtpoj:before {
  content: "\e920";
}
.aikbbxgu:before {
  content: "\e921";
}
.gtubxloex:before {
  content: "\e922";
}
.uzexnmmwzgcz:before {
  content: "\e923";
}
.woiqkbqaeqw:before {
  content: "\e924";
}
.hzwhhitahdgr:before {
  content: "\e925";
}
.ruyczlrk:before {
  content: "\e926";
}
.rhklwphq:before {
  content: "\e927";
}
.jjgdzylgao:before {
  content: "\e928";
}
.czbmfwbnekn:before {
  content: "\e929";
}
.vudzfrnrv:before {
  content: "\e92a";
}
.wxgawvbruhifc:before {
  content: "\e92b";
}
.nmpbrhlu:before {
  content: "\e92c";
}
.ensonfmniopput:before {
  content: "\e92d";
}
.chapffkzhyr:before {
  content: "\e92e";
}
.omhvslpwkxr:before {
  content: "\e92f";
}
.qionyoowihtekb:before {
  content: "\e930";
}
.kqaeatmo:before {
  content: "\e931";
}
.jfswtjont:before {
  content: "\e932";
}
.nzhepmfpntmft:before {
  content: "\e933";
}
.ahggcuxlr:before {
  content: "\e934";
}
.dusrhcku:before {
  content: "\e935";
}
.sudltfmhjxkxxx:before {
  content: "\e936";
}
.jhrfaptvauc:before {
  content: "\e937";
}
.yyybznxe:before {
  content: "\e938";
}
.bbidpwmolwyfm:before {
  content: "\e939";
}
.lmjyqudjakvd:before {
  content: "\e93a";
}
.rhfoihyeopxq:before {
  content: "\e93b";
}
.tfjuvzrlfnfdah:before {
  content: "\e93c";
}
.ikadogua:before {
  content: "\e93d";
}
.wpnomcsicyppq:before {
  content: "\e93e";
}
.vynccwto:before {
  content: "\e93f";
}
.rofnaxgliukr:before {
  content: "\e940";
}
.kwaithqcwjmmet:before {
  content: "\e941";
}
.gnrrfxsajs:before {
  content: "\e942";
}
.csbqflhgsxnam:before {
  content: "\e943";
}
.npmhzivkpm:before {
  content: "\e944";
}
.qaypwnkdelqe:before {
  content: "\e945";
}
.npblbrtdd:before {
  content: "\e946";
}
.nnenfbkalenegk:before {
  content: "\e947";
}
.xxgdgzslj:before {
  content: "\e948";
}
.wgqwqwjadg:before {
  content: "\e949";
}
.phmndmnutqur:before {
  content: "\e94a";
}
.uzedyfcgegaol:before {
  content: "\e94b";
}
.gyeeeulhcbxo:before {
  content: "\e94c";
}
.npkkhudnv:before {
  content: "\e94d";
}
.whgsuzkktztw:before {
  content: "\e94e";
}
.hpicleechn:before {
  content: "\e94f";
}
.egfjitrn:before {
  content: "\e950";
}
.tztswfulx:before {
  content: "\e951";
}
.xizoqwfcvwhjz:before {
  content: "\e952";
}
.wkhwkyzkqcdbzu:before {
  content: "\e953";
}
.kxxdyzpz:before {
  content: "\e954";
}
.yexvdctq:before {
  content: "\e955";
}
.vsbipjpcyppl:before {
  content: "\e956";
}
.ntgfpbusurfv:before {
  content: "\e957";
}
.adoejtit:before {
  content: "\e958";
}
.tnzqesuqjlbvcf:before {
  content: "\e959";
}
.skdrtzzhk:before {
  content: "\e95a";
}
.zuvaeghapbtl:before {
  content: "\e95b";
}
.ezfhsxfspoxcgs:before {
  content: "\e95c";
}
.alxgmjrh:before {
  content: "\e95d";
}
.dnzhgcsnygw:before {
  content: "\e95e";
}
.akkqqoxhcd:before {
  content: "\e95f";
}
.ppttovrjh:before {
  content: "\e960";
}
.ssjwnxuigpv:before {
  content: "\e961";
}
.zdlhmhteqrabpf:before {
  content: "\e962";
}
.uujplpbgylyb:before {
  content: "\e963";
}
.dmapkojxejqab:before {
  content: "\e964";
}
.swuiayapnwwkdj:before {
  content: "\e965";
}
.symwcvhkdvsam:before {
  content: "\e966";
}
.rcnvacex:before {
  content: "\e967";
}
.phxpnrxzusge:before {
  content: "\e968";
}
.gnxzaecanrbx:before {
  content: "\e969";
}
.azglmpvzqbd:before {
  content: "\e96a";
}
.vntxzhtdhjouun:before {
  content: "\e96b";
}
.douqbpwemve:before {
  content: "\e96c";
}
.fsizwrmsa:before {
  content: "\e96d";
}
.uvliwjuubvpkr:before {
  content: "\e96e";
}
.avabwjcfosgf:before {
  content: "\e96f";
}
.kpvjvbjiookcvl:before {
  content: "\e970";
}
.wyrnkyvbujsts:before {
  content: "\e971";
}
.orrzfauhxnf:before {
  content: "\e972";
}
.hgnhawtetoi:before {
  content: "\e973";
}
.wyofgums:before {
  content: "\e974";
}
.iohzzopftzcsuu:before {
  content: "\e975";
}
.rmalvlznd:before {
  content: "\e976";
}
.ahhyaczizoba:before {
  content: "\e977";
}
.qvhcscjtdeghlq:before {
  content: "\e978";
}
.ukhzqjom:before {
  content: "\e979";
}
.bcxkghnrw:before {
  content: "\e97a";
}
.qqyvattimqty:before {
  content: "\e97b";
}
.frmyxfbkeqfoh:before {
  content: "\e97c";
}
.tfqyvwsb:before {
  content: "\e97d";
}
.xcydopcwxsqnk:before {
  content: "\e97e";
}
.ezdldopze:before {
  content: "\e97f";
}
.zdkmpkrqjs:before {
  content: "\e980";
}
.aebhvmseqvdnor:before {
  content: "\e981";
}
.cykhrodwwbirda:before {
  content: "\e982";
}
.zrsczsuc:before {
  content: "\e983";
}
.viqalrpdxjdsht:before {
  content: "\e984";
}
.gfuwckqickx:before {
  content: "\e985";
}
.guxpxgtowimbuh:before {
  content: "\e986";
}
.daemgdepcehc:before {
  content: "\e987";
}
.miyuwnjpp:before {
  content: "\e988";
}
.dbikdjmupbwmbf:before {
  content: "\e989";
}
.utdzwgzv:before {
  content: "\e98a";
}
.fdbgqifkv:before {
  content: "\e98b";
}
.qvunzcxobvpnl:before {
  content: "\e98c";
}
.omkemwrcijbjix:before {
  content: "\e98d";
}
.ixxccpdf:before {
  content: "\e98e";
}
.skhozxestpv:before {
  content: "\e98f";
}
.mchewdwdkyfp:before {
  content: "\e990";
}
.xthvszjkonqfj:before {
  content: "\e991";
}
.mkcokptamyo:before {
  content: "\e992";
}
.gpigyavlwojid:before {
  content: "\e993";
}
.jkdfdyymtdt:before {
  content: "\e994";
}
.rznhupcnag:before {
  content: "\e995";
}
.kychmweisec:before {
  content: "\e996";
}
.tzzvnxnbaxz:before {
  content: "\e997";
}
.xalbawkjch:before {
  content: "\e998";
}
.tswihmlsc:before {
  content: "\e999";
}
.enssguek:before {
  content: "\e99a";
}
.bdfbzsusmavse:before {
  content: "\e99b";
}
.ciekpevslx:before {
  content: "\e99c";
}
