@font-face {
  font-family: 'Moririse2';
  font-display: swap;
  src:  url('mobirise2.eot?f2bix4');
  src:  url('mobirise2.eot?f2bix4#iefix') format('embedded-opentype'),
    url('mobirise2.ttf?f2bix4') format('truetype'),
    url('mobirise2.woff?f2bix4') format('woff'),
    url('mobirise2.svg?f2bix4#mobirise2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mobi-"], [class*=" mobi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ozltshuztqfi:before {
  content: "\e900";
}
.wvutnuemcdz:before {
  content: "\e901";
}
.ycpmitpde:before {
  content: "\e902";
}
.tsyqnwqwclfiqw:before {
  content: "\e903";
}
.tevwdkuococbv:before {
  content: "\e904";
}
.hkvvfpizdhcbac:before {
  content: "\e905";
}
.uyzmzwpe:before {
  content: "\e906";
}
.iwfxrkmds:before {
  content: "\e907";
}
.sirirhwzqr:before {
  content: "\e908";
}
.gmxnshmxi:before {
  content: "\e909";
}
.lrhmucsaegbqgf:before {
  content: "\e90a";
}
.cdaaxcbwoc:before {
  content: "\e90b";
}
.rjyhsgvjcfuqbg:before {
  content: "\e90c";
}
.wmncjuqefpae:before {
  content: "\e90d";
}
.zjminlasri:before {
  content: "\e90e";
}
.cuotcbelona:before {
  content: "\e90f";
}
.kgzthnekwgk:before {
  content: "\e910";
}
.oultvhalv:before {
  content: "\e911";
}
.juaccmau:before {
  content: "\e912";
}
.mwwoidenlegefx:before {
  content: "\e913";
}
.plngxrozvnrbx:before {
  content: "\e914";
}
.oxkmjagwz:before {
  content: "\e915";
}
.pyykmkquhnm:before {
  content: "\e916";
}
.lgqjbqpc:before {
  content: "\e917";
}
.xrbwihfvg:before {
  content: "\e918";
}
.blxwxxwt:before {
  content: "\e919";
}
.ekxkxuesavbg:before {
  content: "\e91a";
}
.zivibheyy:before {
  content: "\e91b";
}
.ovpnisumtpv:before {
  content: "\e91c";
}
.ehcqzmdcrh:before {
  content: "\e91d";
}
.mnnbmufth:before {
  content: "\e91e";
}
.gfvdvwmiucorxq:before {
  content: "\e91f";
}
.pndsjkghkqdlb:before {
  content: "\e920";
}
.nzybmfhui:before {
  content: "\e921";
}
.zvrnuxkmj:before {
  content: "\e922";
}
.swspxmgy:before {
  content: "\e923";
}
.djhbjmcjjqj:before {
  content: "\e924";
}
.sbugaopqfb:before {
  content: "\e925";
}
.fqtiqhuikxjdmg:before {
  content: "\e926";
}
.zivzesenugv:before {
  content: "\e927";
}
.ruzdrpmuftklh:before {
  content: "\e928";
}
.sqyagrirgpgl:before {
  content: "\e929";
}
.uracrumynzn:before {
  content: "\e92a";
}
.kgrvcczn:before {
  content: "\e92b";
}
.xvrhdgfn:before {
  content: "\e92c";
}
.kcjfgxwzt:before {
  content: "\e92d";
}
.gmdtskvxtguf:before {
  content: "\e92e";
}
.imyofnxxqegwb:before {
  content: "\e92f";
}
.nlwfotdobysfc:before {
  content: "\e930";
}
.jwbnikibfs:before {
  content: "\e931";
}
.picvpgzlkjfgh:before {
  content: "\e932";
}
.ilrkmpyci:before {
  content: "\e933";
}
.azdxnmmotue:before {
  content: "\e934";
}
.lakfefkxy:before {
  content: "\e935";
}
.rlhiprgabrc:before {
  content: "\e936";
}
.ukdeeknobcqsjm:before {
  content: "\e937";
}
.eeroaghsrsyh:before {
  content: "\e938";
}
.zsqicaeyvi:before {
  content: "\e939";
}
.qhhsbccd:before {
  content: "\e93a";
}
.ijsfmvoahxlbop:before {
  content: "\e93b";
}
.bdwjykqla:before {
  content: "\e93c";
}
.vpqogfvgqp:before {
  content: "\e93d";
}
.yfssaitt:before {
  content: "\e93e";
}
.wgpbpxdiono:before {
  content: "\e93f";
}
.cyuqoyskvbgzl:before {
  content: "\e940";
}
.ujnwtyrsm:before {
  content: "\e941";
}
.fjujscvnne:before {
  content: "\e942";
}
.vpiwzgyc:before {
  content: "\e943";
}
.wrknrwrlp:before {
  content: "\e944";
}
.cjkbfuglai:before {
  content: "\e945";
}
.xkgehumzl:before {
  content: "\e946";
}
.tkikahbf:before {
  content: "\e947";
}
.xdwmyxhsrjqec:before {
  content: "\e948";
}
.sujuimlfjmm:before {
  content: "\e949";
}
.xmqjvaipo:before {
  content: "\e94a";
}
.bkispbdfdzycwx:before {
  content: "\e94b";
}
.wbmcwoxzfbe:before {
  content: "\e94c";
}
.rdzdaeguunbxmz:before {
  content: "\e94d";
}
.hbhwjdthxlozi:before {
  content: "\e94e";
}
.ovrggnhujk:before {
  content: "\e94f";
}
.vtgltdjia:before {
  content: "\e950";
}
.vcbincewzhwdby:before {
  content: "\e951";
}
.pfqngypuhdiwfv:before {
  content: "\e952";
}
.cjhowkabfqnocv:before {
  content: "\e953";
}
.pvmuhtirneukgd:before {
  content: "\e954";
}
.bhspypifurs:before {
  content: "\e955";
}
.krnxdfcvlxy:before {
  content: "\e956";
}
.bmmfruerkvoogb:before {
  content: "\e957";
}
.wnbgrmrolf:before {
  content: "\e958";
}
.xobxjgjxvbzzac:before {
  content: "\e959";
}
.grnuegfneljdi:before {
  content: "\e95a";
}
.idwahszolnsj:before {
  content: "\e95b";
}
.bgyfryofsna:before {
  content: "\e95c";
}
.imeeupviesgeup:before {
  content: "\e95d";
}
.tsmjroiidazvhj:before {
  content: "\e95e";
}
.dqcleyusuifdeg:before {
  content: "\e95f";
}
.ftuukosqgqgbui:before {
  content: "\e960";
}
.xmbmectgnmulwz:before {
  content: "\e961";
}
.gaeckkzoaotb:before {
  content: "\e962";
}
.ucysmbwevgnlk:before {
  content: "\e963";
}
.tfmxrdemku:before {
  content: "\e964";
}
.lqzcbdhdzh:before {
  content: "\e965";
}
.pybyftykkv:before {
  content: "\e966";
}
.ovchjwuhk:before {
  content: "\e967";
}
.jzxdmnzjwvayn:before {
  content: "\e968";
}
.vsojeqkq:before {
  content: "\e969";
}
.eeraqfmvyh:before {
  content: "\e96a";
}
.nammlthq:before {
  content: "\e96b";
}
.rjwjajcvglju:before {
  content: "\e96c";
}
.gcvmbwcmrvfskp:before {
  content: "\e96d";
}
.tnejscyctm:before {
  content: "\e96e";
}
.ikvfuigtyhsey:before {
  content: "\e96f";
}
.wafsvwygmctzb:before {
  content: "\e970";
}
.fxwjvaxrlxayv:before {
  content: "\e971";
}
.egtapwblcrn:before {
  content: "\e972";
}
.zfzmsolqqos:before {
  content: "\e973";
}
.bajufzjffjc:before {
  content: "\e974";
}
.eywkapsc:before {
  content: "\e975";
}
.idqbglniolp:before {
  content: "\e976";
}
.guauftud:before {
  content: "\e977";
}
.engnqwlzvtfuw:before {
  content: "\e978";
}
.wchegfsf:before {
  content: "\e979";
}
.orgrkotdlydps:before {
  content: "\e97a";
}
.dnpymjfb:before {
  content: "\e97b";
}
.bqopakrdvuwb:before {
  content: "\e97c";
}
.wsmfkrcryvsl:before {
  content: "\e97d";
}
.sueznemuili:before {
  content: "\e97e";
}
.gljoegcggydvm:before {
  content: "\e97f";
}
.uhhqvmrghc:before {
  content: "\e980";
}
.otyqwchmkplk:before {
  content: "\e981";
}
.hyburyhovsnjel:before {
  content: "\e982";
}
.ueixkuzkq:before {
  content: "\e983";
}
.jrwpjjrmemfvb:before {
  content: "\e984";
}
.rpnmxhnix:before {
  content: "\e985";
}
.yzltmkywjv:before {
  content: "\e986";
}
.mzirqetxagw:before {
  content: "\e987";
}
.qtapxbybn:before {
  content: "\e988";
}
.mfdtxkbfj:before {
  content: "\e989";
}
.mjnipoefsnd:before {
  content: "\e98a";
}
.dvpivumpbwtvqs:before {
  content: "\e98b";
}
.jumzvtqa:before {
  content: "\e98c";
}
.viubzvfcrgguam:before {
  content: "\e98d";
}
.ceprdhwbak:before {
  content: "\e98e";
}
.vibwfymtfjahg:before {
  content: "\e98f";
}
.xzevexpqfzznla:before {
  content: "\e990";
}
.ibsfounkumfsh:before {
  content: "\e991";
}
.anqjpmtkqseh:before {
  content: "\e992";
}
.souoyklxncd:before {
  content: "\e993";
}
.vlkndasydyn:before {
  content: "\e994";
}
.evmnswcq:before {
  content: "\e995";
}
.yqocraubdnuim:before {
  content: "\e996";
}
.femjivlntf:before {
  content: "\e997";
}
.eqoggtakg:before {
  content: "\e998";
}
.pabehvobu:before {
  content: "\e999";
}
.hrxbcuyxc:before {
  content: "\e99a";
}
.ddiorcnhzqk:before {
  content: "\e99b";
}
.slrjprosrmdshq:before {
  content: "\e99c";
}
